<div id="<%= dom_id question %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Mark model:</strong>
    <%= question.mark_model %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Km:</strong>
    <%= question.km %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= question.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Problem:</strong>
    <%= question.problem %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= question.user_id %>
  </p>

</div>
